<script id="templates__auth" type="text/html">
  <div class="mainauth">
	<div class="authbg">
		<img src="#" class="logoauth">
		<span class="hallo uppercase">Добро пожаловать</span>
		<div class="line"></div>
		<span class="posthallo">Версия продукта 1.12. Разработано <span class="uppercase">ООО "НАГ"</span></span>

			
			<style>
				html{background:#D4D4D4;}
			</style>
			
			<div class="infoauth">Чтобы получить подробную информацию о системе Nagruзка, перейдите на сайт <a href="http://nagruzka.net" class="a_def">www.nagruzka.net</a></div>
			<div class="authlogin">
					<input name="ref" type="hidden" value="">
					<span class="left block">Логин:</span>
					<input name="login" type="text" class="logintext w150"><br>
					<span class="left block">Пароль:</span>
					<input name="password" type="password" class="logintext w150">
					<div class="posA"><input type="submit" value="Войти в систему" class="w150" id="auth_sub"></div>
				
			</div>
				<div class="center">
		  <a href="/register/">Регистрация Демо-доступа</a>
		</div>
		<div class="center">
		  <a href="/forgot/">Забыли пароль?</a>
		</div>
				
	</div>
	

</div>
</script>